<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error | SRM UNIVERSITY</title>
    <link rel="stylesheet" href="./css/login.css">
</head>
<body>
     <div class="login-body">
         <div class="err--div">
            <img loading="lazy" src="loginlogo.png" alt="" srcset="" class="errin-header">
            <div class="loerr">ERROR, PAGE NOT FOUND !!</div>
            <div>back to home page<a class="erraa" href="/home">LINK!</a></div>

         </div>

         <div class="login-footer">&#169 Copyright SRM UNIVERSITY</div>
     </div>

</body>
</html>